<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div itemscope itemtype="http://schema.org/JobPosting">
	<h2 itemprop="title">{jobOffer.title}</h2>
	<span>
    <p><span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="addressLocality">{jobOffer.contactaddress}</span> </span></span></p>
  </span>

	<div class="description" itemprop="description">
		<f:format.html>	{jobOffer.descr}</f:format.html>

	</div>
	<div class="responsibilities" itemprop="responsibilities">
		<f:format.html>	{jobOffer.tasks}</f:format.html>

	</div>
	<div class="qualifications" itemprop="qualifications">
		<f:format.html>	{jobOffer.qualification}</f:format.html>

	</div>
	<div class="job_contact" >
		<p class="postal"><b>{jobOffer.contactname}</b><br>
		{jobOffer.contactaddress}</p>
		<p class="telecom"><span class="tel">{jobOffer.contacttel}</span><br>
			<span class="email"> {jobOffer.contactmail}</span></p>
	</div>
	<span itemprop="datePosted"><f:format.date format="Y-m-d H:i:s">{jobOffer.date}</f:format.date></span><br>
	<span itemprop="identifier">{jobOffer.refid}</span>
</div>
<!--
<table class="tx-tp3_jobs" >
	<tr>
		<td>
			<f:translate key="tx_tp3jobs_domain_model_joboffer.title" />
		</td>
		<td>
			{jobOffer.title}
		</td>

	</tr>
	<tr>
		<td>
			<f:translate key="tx_tp3jobs_domain_model_joboffer.descr" />
		</td>
		<td>
			{jobOffer.descr}
		</td>

	</tr>
	<tr>
		<td>
			<f:translate key="tx_tp3jobs_domain_model_joboffer.tasks" />
		</td>
		<td>
			{jobOffer.tasks}
		</td>

	</tr>
	<tr>
		<td>
			<f:translate key="tx_tp3jobs_domain_model_joboffer.qualification" />
		</td>
		<td>
			{jobOffer.qualification}
		</td>

	</tr>
	<tr>
		<td>
			<f:translate key="tx_tp3jobs_domain_model_joboffer.refid" />
		</td>
		<td>
			{jobOffer.refid}
		</td>

	</tr>
	<tr>
		<td>
			<f:translate key="tx_tp3jobs_domain_model_joboffer.contactname" />
		</td>
		<td>
			{jobOffer.contactname}
		</td>

	</tr>
	<tr>
		<td>
			<f:translate key="tx_tp3jobs_domain_model_joboffer.contactname" />
		</td>
		<td>
			{jobOffer.contactname}
		</td>

	</tr>
	<tr>
		<td>
			<f:translate key="tx_tp3jobs_domain_model_joboffer.contactaddress" />
		</td>
		<td>
			{jobOffer.contactaddress}
		</td>

	</tr>
	<tr>
		<td>
			<f:translate key="tx_tp3jobs_domain_model_joboffer.contactmail" />
		</td>
		<td>
			{jobOffer.contactmail}
		</td>

	</tr>
	<tr>
		<td>
		</td>
		<td>
			{jobOffer.contacttel}
		</td>

	</tr>
</table>-->
</html>

