<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">


    <div class="thumble">
        <a href="javascript:;" class="img" title="">
            <img src="fileadmin/carlcare/images/news/news01.jpg" alt="" />
        </a>
    </div>
    <div class="content">
        <div class="head">
            <span class="green">Events</span>
            <span class="date">July 21,2017</span>
            <p class="share">
                <a href="javascript:;">
                    <svg class="icon-svg" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                    </svg>
                </a>
                <a href="javascript:;">
                    <svg class="icon-svg" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
                    </svg>
                </a>
                <a href="javascript:;">
                    <svg class="icon-svg" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-youtube"></use>
                    </svg>
                </a>
                <a href="javascript:;">
                    <svg class="icon-svg" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-in"></use>
                    </svg>
                </a>
            </p>
        </div>
        <h1 class="title">{newsItem.title}</h1>
        <div class="text">
            <p>{newsItem.teaser}</p>
        </div>
        <div class="group">
            <a href="javascript:;" class="read-more">Read More</a>
        </div>
    </div>
    

</html>