
<f:layout name="Default" />

<f:section name="main">
    
    
        <div class="related js-sticky is-sticky" >
            <h3 class="related__top">Find your career</h3>
            <div class="related__content">
                <f:for each="{data}" as="vo">
                    <div class="related__item">
                        <a href="{vo.uid}" class="related__link js-track" data-track-category="Related careers" data-track-action="Click" data-track-label="{vo.title}">
                            <h4 class="related__title">
                                {vo.title}
                            </h4>
                        </a>
                    </div>
                </f:for>
            </div>
            <div class="related__bottom">
                <f:link.typolink parameter="{page.header_link}" class="button--continue js-track" >
                    Show all
                </f:link.typolink>
            </div>
        </div>


</f:section>




