
<f:layout name="Default" />

<f:section name="main">
    <div class="grid__33 page-secondary js-sticky-col   js-eq-height" style="height: 1326px;">
        <div class="related js-sticky is-sticky" style="left: 981.263px; width: 363px;">
            <h3 class="related__top">Find your career</h3>
            <div class="related__content">
                
                <div class="related__item">
                    <a href="https://cevalogistics.careers/careers/customer-service-employee-e25226" class="related__link js-track" data-track-category="Related careers" data-track-action="Click" data-track-label="Customer Service Employee">
                        <h4 class="related__title">
                            Customer Service Employee
                        </h4>
                    </a>
                </div>
               
            </div>
            <div class="related__bottom">
                <a href="#" class="button--continue js-track" data-track-category="Related careers" data-track-action="Click" data-track-label="All">Show all</a>
            </div>
        </div>
    </div>

</f:section>




