<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
      data-namespace-typo3-fluid="true">

    <f:layout name="Detail" />

    <!--
            =====================
                    News/Detail.html
    -->

    <f:section name="content">
        <div class="section--pri section--small">
            <div class="container--small">
                <div class="page-title  ">
                    <h1 class="heading--1">
                        {newsItem.title}
                    </h1>
                </div>
            </div>
        </div>
        <div class="section--pri">
            <div class="container--small">
                <div class="grid grid--gutter-40">
                    <div class=" grid__66 page-primary  js-eq-height" style="height: 1141px;">
                        <div class="cms-content">
                            <p class="meta">
                                <time datetime="{f:format.date(date:newsItem.datetime, format:'M d, Y'')}">
                                    <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
                                    <meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
                                </time>
                            </p>
                        </div>

                        <div class="cms-content">
                            <f:format.html>{newsItem.bodytext}</f:format.html>
                        </div>
                    </div>

                    <div class="grid__33 page-secondary js-sticky-col   js-eq-height" style="height: 1141px;">
                        <div class="widget__link js-href-click ">
                            <h2 class="widget__link__title">
                                <f:translate key="jobmail" />
                            </h2>
                            <f:if condition='{syslanguage}==0'>
                                <f:then>
                                    <a href="/jobmail" class="widget__link__anchor js-href js-modal js-track" data-track-category="Jobmail" data-track-action="Click" data-track-label="Open">
                                        <f:translate key="signup" />
                                    </a>
                                </f:then>
                                <f:else>
                                    <a href="/en/jobmail" class="widget__link__anchor js-href js-modal js-track" data-track-category="Jobmail" data-track-action="Click" data-track-label="Open">
                                        <f:translate key="signup" />
                                    </a> 
                                </f:else>
                            </f:if>
                        </div>
                        <div class="card">
                            <div class="card__content">
                                <p class="card__byline"><f:translate key="article" /></p>
                                <h2 class="card__title">{newsItem.author}</h2>
                                <ul class="card__list">
                                    <li>{newsItem.authorEmail}</li>
                                </ul>
                            </div>
                            <div class="card__bottom">
                                <p class="card__byline"><f:translate key="share" /></p>
                                <div class="social">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://cevalogistics.careers/updates/-58" class="social__item social__item--facebook js-track" data-track-category="Share" data-track-action="Click" data-track-label="Facebook - https://cevalogistics.careers/updates/-58">
                                        Facebook
                                    </a>
                                    <a href="https://twitter.com/home?status=Blog+detail+View+at+https%3A%2F%2Fcevalogistics.careers%2Fupdates%2F-58" class="social__item social__item--twitter js-track" data-track-category="Share" data-track-action="Click" data-track-label="Twitter - https://cevalogistics.careers/updates/-58">
                                        Twitter
                                    </a>
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://cevalogistics.careers/updates/-58&amp;title=Blog+detail+View+at+https%3A%2F%2Fcevalogistics.careers%2Fupdates%2F-58" class="social__item social__item--linkedin js-track" data-track-category="Share" data-track-action="Click" data-track-label="Linkedin - https://cevalogistics.careers/updates/-58">
                                        Linkedin
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </f:section>
</html>