{namespace h=Helhum\UploadExample\ViewHelpers}


<div class="container--small" xmlns:f="http://www.w3.org/1999/html">
    <div id="container--small" class="grid grid--gutter-40">
        <div class="">
            <div id="persoonlijk_contact" class="grid grid--gutter-40">
                <div class="grid__30">
                    <div id="persoonlijk" class="breed form__group">
                        <div class="lege_regel"></div>
                        <div class="kop"><f:translate key="information" /></div>
                        <div class="form__group">
                            <div class="">
                                <div class="form__label"><f:translate key="name" /> *</div>
                                <div class="form__field">
                                    <f:form.textfield property="username"  maxlength="30" class="form__input required"/>
                                </div>
                            </div>
                        </div>
                        <div class="form__group">
                            <div class="">
                                <div class="form__label"><f:translate key="user" /> *</div>
                                <div class="form__field">
                                    <f:form.textfield property="user" maxlength="10" class="form__input required"/>
                                </div>
                            </div>
                        </div>
                        <div class="form__group">
                            <div  class="">
                                <div class="form__label"><f:translate key="sex" /> *</div>
                                <div class="form__field" style="height: 52.8px; line-height: 52.8px">
                                    <f:form.radio property="sex" value="male" checked="checked"/>
                                    <label><f:translate key="male" /></label>
                                    <f:form.radio property="sex" value="female"/>
                                    <label><f:translate key="female" /></label>
                                </div>
                            </div>
                        </div>
                        <div class="form__group">
                            <div class="">
                                <div class="form__label"><f:translate key="profession" /> *</div>
                                <div class="form__field">
                                    <f:form.textfield property="profession"  maxlength="100" class="form__input required"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__30">
                    <div id="contact" class="breed form__group">
                        <div class="lege_regel"></div>
                        <div class="kop"><f:translate key="contactinformation" /></div>
                        <div class="form__group">
                            <div  class="">
                                <div class="form__label"><f:translate key="citizenship" /> *</div>
                                <div class="form__field">
                                    <f:form.textfield property="citizenship" maxlength="50" class="form__input required"/>
                                </div>
                            </div>
                        </div>
                        <div class="form__group">
                            <div  class="">
                                <div class="form__label"><f:translate key="phone" /> *</div>
                                <div class="form__field">
                                    <f:form.textfield property="phone" maxlength="50" class="form__input required number"/>
                                </div>
                            </div>
                        </div>
                        <div class="form__group">
                            <div  class="">
                                <div class="form__label"><f:translate key="age" /> *</div>
                                <div class="form__field form_select_div">
                                    <!--<f:form.textfield property="age"  maxlength="20" class="form__input required digits"/>-->
                                    <f:form.select property="age"  class="form__select"  options="{1: '20以下', 2: '21-30', 3: '31-40', 4: '41-50', 5: '50以上'}"></f:form.select>
                                </div>
                            </div>
                        </div>
                        <div class="form__group">
                            <div class="">
                                <div class="form__label"><f:translate key="education" /> *</div>
                                <div class="form__field form_select_div">
                                    <!--<f:form.textfield property="education"  maxlength="100" class="form__input required "/>-->
                                    <f:form.select property="education"  class="form__select "  options="{0: '不要求', 1: '大专', 2: '本科', 3: '硕士', 4: '博士'}"></f:form.select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__40">
                    <div class="breed form__group">
                        <div class="lege_regel"></div>
                        <div class="kop header-out"></div>
                        <div class="form__group">
                            <div class="">
                                <div class="form__label"><f:translate key="address" /> *</div>
                                <div class="form__field">
                                    <f:form.textfield property="address"  maxlength="100" class="form__input required "/>
                                </div>
                            </div>
                        </div>
                        <div class="form__group">
                            <div  class="">
                                <div class="form__label"><f:translate key="email" /> *</div>
                                <div class="form__field">
                                    <f:form.textfield property="email"  maxlength="50" class="form__input required email "/>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="">
                                <div class="grid grid--gutter-40">
                                    <div class="grid__66">
                                        <div class="form__group">
                                            <label for="KAN_POSTCODE" class="form__label">
                                                <f:translate key="language" /><span class="form__required">*</span>
                                            </label>
                                            <div class="form__field">
                                                <f:form.textfield property="language"   maxlength="50" class="form__input required "/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid__33">
                                        <div class="form__group">
                                            <label for="KAN_HUISNUMMER" class="form__label">
                                                <f:translate key="languagelevel" /><span class="form__required">*</span>
                                            </label>
                                            <div class="form__field">
                                                <f:form.textfield property="languagelevel"  maxlength="50" class="form__input required "/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form__group">
                            <div  class="">
                                <div class="form__label"><f:translate key="school" /> *</div>
                                <div class="form__field">
                                    <f:form.textfield property="school"  maxlength="100" class="form__input required "/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <div id="overig_aanvullend" class="grid grid--gutter-40">
                <div class="grid__50">
                    <div id="overig" class="breed grid_pad">
                        <div class="lege_regel"></div>
                        <div class="kop"><f:translate key="uploadfile" /></div>
                        <div class="form__label"><f:translate key="uploadfile" /></div>
                        <div class="">
                            <div class="form__group">
                                <div class="form__field">
                                    <div class="form__upload">
                                        <input type="text" class="form__input js-upload-filename" id="fakeCV">	
                                        <label class="form__upload__label" for="letter"><f:translate key="file" /></label>
                                        <h:form.upload property="image" class="form__upload__field js-upload required" ></h:form.upload>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lege_regel"></div>
                    <div id="privacy" class="breed form__group">
                        <div class="form__label"><f:translate key="privacy" /><span class="form__required"> *</span></div>
                        <div class="form__field">
                            <f:form.checkbox property="privacy" id="KAN_PRIVACYSTATEMENT" class="form__checkbox required" value="1"/>
                        </div>
                        <div id="privacy_statement" class="breed form__group">
                            <div class="">
                                <div class="kop"><f:translate key="statement" /></div>
                                <f:translate key="privacycontent" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__50">
                    <div id="aanvullend" class="breed form__group">
                        <div class="lege_regel"></div>
                        <div class="kop"><f:translate key="extra" /></div>
                        <div class="form__label"><f:translate key="content" /></div>
                        <div class="form__field">
                            <f:form.textarea property="content" id="Overige opmerkingen" class="form__textarea form__textarea--large" style="height:306px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div id="buttons" class="form__buttonrow--center">
                <div class="">
                    <input type="submit" value="Solliciteer" class="button--pri" title="Solliciteer"  id="submitprofielform">
                </div>
                <div class="lege_regel"></div>
            </div>
        </div>
    </div>
</div>
