<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />


    <f:section name="main">
        <div class="page-content">
            <div class="section--pri section--small">
                <div class="container--small">
                    <div class="page-title page-title--center  ">
                        <h1 class="heading--1">
                            Contact us
                        </h1>
                    </div>
                </div>
            </div>
            <div class="section--pri">
                <div class="container--small">
                    <form method="POST" action="{f:uri.action(action: 'add')}" class="js-form-validate" novalidate="">
                        <input type="hidden" name="_token" value="3iXIgQVekKrIzt6WahP4ylEJ92QsDXHrgDbKAmRm">
                        <div class="grid grid--gutter-40">
                            <div class="grid__50">
                                <div class="form__group">
                                    <label for="firstname" class="form__label">
                                        First name <span class="form__required">*</span>
                                    </label>
                                    <div class="form__field">
                                        <input type="text" name="firstname" id="firstname" class="form__input" data-parsley-required-message="Fill in your first name" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="grid__50">
                                <div class="form__group">
                                    <label for="lastname" class="form__label">
                                        Last name <span class="form__required">*</span>
                                    </label>
                                    <div class="form__field">
                                        <input type="text" name="lastname" id="lastname" class="form__input" data-parsley-required-message="Fill in your last name" required="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid--gutter-40">
                            <div class="grid__50">
                                <div class="form__group">
                                    <label for="email" class="form__label">
                                        E-mail address <span class="form__required">*</span>
                                    </label>
                                    <div class="form__field">
                                        <input type="email" name="email" id="email" class="form__input" data-parsley-required-message="Fill in your e-mail address" data-parsley-type-message="Fill in a valid e-mail address" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="grid__50">
                                <div class="form__group">
                                    <div>
                                        <label for="email" class="form__label">
                                            Subject <span class="form__required">*</span>
                                        </label>
                                        <div class="form__field">
                                            <input type="text" name="subject" id="subject" class="form__input" data-parsley-required-message="Select a subject" required="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form__group">
                            <label for="email" class="form__label">
                                Your message <span class="form__required">*</span>
                            </label>
                            <div class="form__field">
                                <textarea name="message" id="message" class="form__textarea form__textarea--large" data-parsley-required-message="Fill in your message" required=""></textarea>
                            </div>
                        </div>
                        <div class="form__buttonrow--center">
                            <button type="submit" class="button--pri js-form-submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </f:section>
</html>